{% extends 'base.html.twig' %}

{% block title %}Список курсов{% endblock %}

{% block body %}
    <h1>Список курсов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Сим. код</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">
                        {{ course.title }}
                    </a>
                </td>
                <td>{{ course.code }}</td>
                <td>{{ course.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Записей нееет!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">+ Добавить</a>
{% endblock %}
