{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_course_index') }}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
    </ol>
</nav>
{% endblock %}

{% block body %}
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>

    {# список уроков #}

    <ul class="list-group">
        {% for lesson in course.lessons %}
            <li>
            <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}" class="mb-1 list-group-item list-group-item-action lesson-item">
                {{ lesson.serialNumber }}. 
                {{ lesson.name }}
            </a>
            </li>
        {% endfor %}
    </ul>

    <div class="d-flex gap-2 mt-2" role="group">
        <a class='btn btn-dark' href="{{ path('app_course_index') }}">К списку курсов</a>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class='btn btn-secondary' href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать</a>

            {{ include('course/_delete_form.html.twig') }}

            <a class='btn btn-success' href="{{ path('app_lesson_new', {'course_id': course.id}) }}">Добавить урок</a>
        {% endif %}
    </div>

{% endblock %}
