{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>

    {# список уроков #}

    <ul class="list-group">
        {% for lesson in course.lessons %}
            <li>
            <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}" class="mb-1 list-group-item list-group-item-action">
                {{ lesson.serialNumber }}. 
                {{ lesson.name }}
            </a>
            </li>
        {% endfor %}
    </ul>

    <div class="d-flex gap-2 mt-2" role="group">
        <a class='btn btn-dark' href="{{ path('app_course_index') }}">К списку курсов</a>

        <a class='btn btn-secondary' href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать</a>

        {{ include('course/_delete_form.html.twig') }}

        <a class='btn btn-success' href="{{ path('app_lesson_new', {'course_id': course.id}) }}">Добавить урок</a>
    </div>

{% endblock %}
