{% extends 'base.html.twig' %}

{% block title %}Список уроков{% endblock %}

{% block body %}
    <h1>Список уроков</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Курс</th>
                <th>Номер</th>
                <th>Васебство</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a>
                </td>
                <td>{{ lesson.course.title }}</td>
                <td>{{ lesson.serialNumber }}</td>
                <td>
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Что вы передадите будущему поколению?</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson_new') }}">+ Добавить</a>
{% endblock %}
