{% extends 'base.html.twig' %}

{% block title %}
{{ lesson.name }} | {{ lesson.course.title }} | StudyOn
{% endblock %}

{% block body %}
    <h1>{{ lesson.serialNumber }}. {{ lesson.name }}</h1>

    <div>
        <b>Название курса</b>
        <p>{{ lesson.course.title }}</p>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div>
        <b>Действия</b>
        <div class='d-flex gap-2 mt-2'>        
            <a class='btn btn-secondary' href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать</a>

            {{ include('lesson/_delete_form.html.twig') }}
        </div>
    </div>
    {% endif %}

    <div class='lesson-content'>
        <b>Контент</b>
        <p>{{ lesson.content }}</p>
    </div>

    <a class='btn btn-dark' href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Назад к курсу</a>

    
{% endblock %}
